<a href="https://colab.research.google.com/github/PrashantSBasnet/L3_Sem2/blob/master/MoreAboutPandaObjects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array as follows:

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0, 9.3])
data

0    0.25
1    0.50
2    0.75
3    1.00
4    9.30
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[2]

0.75

In [6]:
data[2:4]

2    0.75
3    1.00
dtype: float64

In [10]:
data2 = pd.Series([0.25, 'random values', 2, 1.323, 9.3])
data2

0             0.25
1    random values
2                2
3            1.323
4              9.3
dtype: object

In [11]:
data2.values

array([0.25, 'random values', 2, 1.323, 9.3], dtype=object)

**Difference of Series object with NumPy array?**
Although, Series object is basically interchangeable with a one-dimensional NumPy array it has the following differences:
*  **The presence of the index**: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.
*   This explicit index definition gives the Series object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type. For example, if we wish, we can use strings as an index:

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [13]:
data['b']

0.5

 **Non-contiguous or non-sequential indices**

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [15]:
data[5]

0.5

**Constructing Series Objects**

pd.Series(data, index=index)

where index is an optional argument, and data can be one of many entities.

In [17]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [16]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [19]:
#data can be a dictionary, in which index defaults to the sorted dictionary keys:

pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [20]:
#In each case, the index can be explicitly set if a different result is preferred:

pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object