<a href="https://colab.research.google.com/github/PrashantSBasnet/L3_Sem2/blob/master/Week2/Datatypes%26Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data types and operators**


*   Data Types: Integers, Floats, Booleans, Strings
*   Operators: Arithmetic, Assignment, Comparison, Logical

**Data types**


*   The type of value a variable has
*   Way of classifying and categorizing different types of data
*   Each data types has specific characteristics and operations that can be performed on it

**Built-in Python data types**


*   Text Type: str
*   Numeric Types: int, float, complex
*   Sequence Types: list, type, range
*   Mapping Type: dict
*   Set Types: set, frozenset
*   Boolean Type: bool
*   Binary Types: bytes, bytearray, memoryview
*   None Type: NoneType

**print()** - built in function that displays input value as text in the output

In [25]:
print(3+5)
print("hello world")

8
hello world

**bold text**

In [34]:
k= 12
l = "Apple"
m =3.53
b = True

print (type(k))
print (type(l))
print (type(m))
print (type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

**Arithmetic Operators**

*   [ + ] Addition
*   [ - ] Subtraction
*   [ * ] Multiplication
*   [ / ] Division
*   [ % ] Mod(the remainder after dividing)
*   [ ** ] Exponentiation
*   [ // ] Divides and round to the nearest integer

In [26]:
print( 1 + 2 + 3 * 3)
print( (1+ 2 +3) * 3)
print ( 3 ** 2)
print ( 9 % 2)
print(7/2)
print( 7 //  2)

12
18
9
1
3.5
3

**Assignment operators**: Assigns values to a variable


*   [=] **Assignment Operator** Assigns the value on the right-hand side to the variable on the left-hand side. **x=10**
*   [+=] **Addition Assignment** Adds the value on the right-hand side to the variable on the left-hand side and assigns the result to the variable. **x += 5**
*  [-=] **Subtraction Assignment** Subtracts the value on the right-hand side from the variable on the left-hand side and assigns the result to the variable. **y -= 3**
*  [\*=] **Multiplication Assignment** Multiplies the variable on the left-hand side by the value on the right-hand side and assigns the result to the variable **z *= 2**
*   [/=] **Division Assignment** Divides the variable on the left-hand side by the value on the right-hand side and assigns the result to the variable. **w /= 4**
*   [%=] **Modulus Assignment** Calculates the modulus of the variable on the left-hand side with the value on the right-hand side and assigns the result to the variable **a %= 3**
*   ** **Exponentiation Assignment** Raises the variable on the left-hand side to the power of the value on the right-hand side and assigns the result to the variable **b **= 2**

In [27]:
x=5
print (x)
x += 5         #x = x+5
print (x)

5
10

In [28]:
z = 100
print (z)
z %= 23         #z = z%23
print (z)

100
8

**Comparison Operators**

*   [ == ]   Equal
*   [ != ]  Not equal
*   [ > ]    Greater than
*   [ < ]   Less than
*   [ >= ]   Greater than or equal to
*   [ <= ]  Less than or equal to

In [29]:
print (5==5)
print (3<=56)
print (6!=0)

True
True
True

**Logical Operators**


*   and
*   or
*   not

In [30]:
print (5 < 3 and 5 == 5) #and - Evaluates if all provided statements are True
print (5 < 3 or 5 == 5) #or - Evaluates if at least one of many statements is True
print (not 5 < 3) #not - Flips the Bool Value

False
True
True

In [31]:
x1 = 10
y1 = 3
print (x1 <12 and x1<15)
print (not(x1 <12 or x1<9))

True
False

**Identity operators**


*   is
*   not

In [32]:
x = "Apple"
y = "Applee"

In [33]:
print (y is x)
print (x is y)
print (x is not y)

False
False
True

 **Membership operators**
*   in         Returns True if a sequence with the specified value        is present in the object
*   not in     Returns True if a sequence with the specified value        is not present in the object


**Data types in python**

*  d1 = 10   #int
*  d2 = 10.5 #float
*  d3 = 5j   #complex
*  d4 = ["IT", "FODs", "Multimedia", "I don't know"]   #list
*  d5 = ("IT", "FODs", "Multipedia", "I don't know")   #tuple
*  d6 = range(10)
*  d7 = frozenset({"maths", "science", "geography"})
*  d8 = False #bool
*  d9 = b"Somevalue"  #bytes
*  d10 = bytearray(5)  #byte array
*  d11 = memoryview(bytes(5)) #memoryview
*  d12 = None   #NoneType