<a href="https://colab.research.google.com/github/PrashantSBasnet/L3_Sem2/blob/master/Week2/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Strings**
Strings in Python are shown as the variable type str. You can define a string with either double quotes " or single quotes '. If the string you are creating actually has one of these two values in it, then you need to be careful to assure your code doesn't give an error.

In [20]:
my_string = 'this is a string!'
my_string2 = "this is also a string!!!"

In [21]:
print (my_string)
print (my_string2)

this is a string!
this is also a string!!!

You can also include a \ in your string to be able to include one of these quotes:

In [22]:
this_string = 'Simon\'s skateboard is in the garage.'
print(this_string)

Simon's skateboard is in the garage.

There are a number of other operations you can use with strings as well

**String concatenation**

In [23]:
first_word = 'Hello'
second_word = 'There'
print(first_word + second_word)

HelloThere

In [24]:
print(first_word + ' ' + second_word)

Hello There

In [25]:
print(first_word + " " + second_word)

Hello There

In [26]:
print(first_word * 5)

HelloHelloHelloHelloHello

**len()** is a built-in Python function that returns the length of an object, like a string. The length of a string is the number of characters in the string. This will always be an integer.

In [27]:
college = "TheBritishCollege"
count = len(college)
print (count)

17

**Modifying String**

In [28]:
#modify string
str2 = "Hello"
print (str2.upper())  #Uppercase
print (str2.lower())  #Lowercase

HELLO
hello

In [29]:
str3 = " Hi There  "
print (str3.strip())  #returns "Hi There" removes spaces
print (str3.replace("T", "t"))  #replacing

Hi There
 Hi there

**Slicing a String**

In [30]:
str1 = "MyNameisName"
print (str1[0:3])
print (str1[1:3])
print (str1[:3]) #staring from the start
print (str1[1:]) #all the way to the end

MyN
yN
MyN
yNameisName

In [31]:
str2 = "Hello"
print (str2[-4:-2])   #gives substring from the 3rd character from the end and ending at the 2nd character from the end (excluding character at the end index)

el

**format()**

In [32]:
id = 1
name = "Name"
toBePrinted= "The id of Name is {}"
print (toBePrinted.format(id))

The id of Name is 1

In [33]:
address ="Thapatali"
rollNo= 23
output= "The id of {} is {}, rollNo is {}, and address is {}"
print (output.format(name,id,rollNo,address))

The id of Name is 1, rollNo is 23, and address is Thapatali

**Escape Characters**

In [34]:
print ("She said,\"I can understand, but..\" He stood there listening..")

She said,"I can understand, but.." He stood there listening..

*   \'    Single Quote
*   \\    Backslash
*   \n    new Line
*   \r    Carriage Return
*   \t    tAB
*   \b    Backspace
*   \f    FormFeed
*   \ooo  Octal value
*   \xhh  Hex value

**String methods**

*  capitalize()	    Converts the first character to upper case
*  casefold()	        Converts string into lower case
*  center()	        Returns a centered string
*  count()	            Returns the number of times a specified value occurs in a string
*  encode()	        Returns an encoded version of the string
*  endswith()    	    Returns true if the string ends with the specified value
*  lower()	            Converts a string into lower case
*  replace()	        Returns a string where a specified value is replaced with a specified value
*  split()	        Splits the string at the specified separator, and returns a list
*  startswith()	    Returns true if the string starts with the specified value
*  strip()	            Returns a trimmed version of the string
*  swapcase()	        Swaps cases, lower case becomes upper case and vice vers
*  translate()	        Returns a translated string
*  upper()	            Converts a string into upper case