<a href="https://colab.research.google.com/github/PrashantSBasnet/L3_Sem2/blob/master/Week4/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sets**

*   stores multiple items in a single variable
*   Unordered - can appear in a different order every time you use them, and cannot be referred to by index or key
*   Unchangeable but items can be removed and new items can be added
*   Unindexed

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [3]:
#duplicates not allowed
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [4]:
#True and 1   False and 0  considered the same value
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [5]:
print(len(thisset))

5

In [6]:
#adding item
thisset.add("banana")

In [7]:
#adding another set into the current set
theSet1 = {"A", "B", "C", "Cat"}
theSet2 = {"Horse", "Crocodile", "Elephant"}

In [8]:
theSet1.update(theSet2)
print(theSet1)
print("")

{'Horse', 'Crocodile', 'Cat', 'C', 'A', 'Elephant', 'B'}

In [9]:
#removing
theSet1.remove("A")
print(theSet1)

{'Horse', 'Crocodile', 'Cat', 'C', 'Elephant', 'B'}

In [10]:
#looping
for x in thisset:
    print(x)

True
2
cherry
apple
banana