<a href="https://colab.research.google.com/github/PrashantSBasnet/L3_Sem2/blob/master/DescriptiveStatistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Descriptive Statistics**

The measures that summarize important features of data, often with a single number.It is a branch of statistics that deals with summarizing and describing the main features of a dataset.It provides tools and techniques to organize, visualize, and analyze data in order to gain insights into its characteristics.

In Pandas, you can compute various descriptive statistics using built-in methods available for DataFrame and Series objects. Here are some common descriptive statistics methods in Pandas:

In [ ]:
import pandas as pd

**describe()**: This method generates descriptive statistics that summarize the central tendency, dispersion, and shape of a dataset's distribution. It provides statistics such as count, mean, standard deviation, minimum, maximum, and quartiles for each numerical column in the DataFrame.

In [ ]:
# Create a DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

# Generate descriptive statistics
print(df.describe())

              A          B
count  5.000000   5.000000
mean   3.000000   8.000000
std    1.581139   1.581139
min    1.000000   6.000000
25%    2.000000   7.000000
50%    3.000000   8.000000
75%    4.000000   9.000000
max    5.000000  10.000000

In [ ]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Abhinav','Aman','Ankit','Anoushka','Anushka','Aryan','Bardan',
   'Dikshya','Dilasha','Enyous','Evenjellyna','Garima', 'Grishma']),
   'Points':pd.Series([44,36,45,43,35,39,33,44,40,45,50,]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

In [ ]:
#Create a DataFrame
df = pd.DataFrame(d)
print (df.sum())

Name      AbhinavAmanAnkitAnoushkaAnushkaAryanBardanDiks...
Points                                                454.0
Rating                                                44.92
dtype: object

**mean()**

Average Value

In [ ]:
print (df.mean())

Points    41.272727
Rating     3.743333
dtype: float64

<ipython-input-6-6577edf46a8e>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print (df.mean())

In [ ]:
df['Points'].mean()

41.27272727272727

**std()**

Returns the Bressel standard deviation of the numerical columns.

In [ ]:
print (df.std())

Points    5.139862
Rating    0.661628
dtype: float64

<ipython-input-8-9d91f8c9ff12>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print (df.std())

**Functions & Description**

1. 	count()	Number of non-null observations
2. 	sum()	Sum of values
3. 	mean()	Mean of Values
4. 	median()	Median of Values
5. 	mode()	Mode of values
6. 	std()	Standard Deviation of the Values
7. 	min()	Minimum Value
8. 	max()	Maximum Value
9. 	abs()	Absolute Value
10.	prod()	Product of Values
11.	cumsum()	Cumulative Sum
12.	cumprod()	Cumulative Product

In [20]:
cars = pd.read_csv('ford_escort.csv')

In [21]:
print (cars.head(10))

   Year   Mileage (thousands)    Price  Displacement  Km/Ltr
0  1998                    27     9991          1200      12
1  1997                    17     9925          1400      11
2  1998                    28    10491          1600       8
3  1998                     5    10990          1800       9
4  1997                    38     9493          1600       8
5  1997                    36     9991          1400       9
6  1997                    24    10490          1200      10
7  1997                    37     9491          1200      11
8  1997                    38     9491          1400      12
9  1997                    30     9990          1600       6

In [22]:
cars.median()

Year                    1997.0
 Mileage (thousands)      30.0
  Price                 9990.0
Displacement            1400.0
Km/Ltr                    10.0
dtype: float64

In [24]:
cars.mode()

     Year   Mileage (thousands)    Price  Displacement  Km/Ltr
0  1997.0                  38.0   9990.0          1200    12.0
1     NaN                   NaN      NaN          1400     NaN
2     NaN                   NaN      NaN          1600     NaN

**Extra Information**

**Measures of Spread**

Measures of spread (dispersion) are statistics that describe how data varies. While measures of center give us an idea of the typical value, measures of spread give us a sense of how much the data tends to diverge from the typical value.

One of the simplest measures of spread is the range. Range is the distance between the maximum and minimum observations:

In [25]:
max(cars["Km/Ltr"]) - min(cars["Km/Ltr"])

7

As noted earlier, the median represents the 50th percentile of a data set. A summary of several percentiles can be used to describe a variable's spread. We can extract the minimum value (0th percentile), first quartile (25th percentile), median, third quartile(75th percentile) and maximum value (100th percentile) using the quantile() function:

In [26]:
five_num = [cars["Km/Ltr"].quantile(0),
            cars["Km/Ltr"].quantile(0.25),
            cars["Km/Ltr"].quantile(0.50),
            cars["Km/Ltr"].quantile(0.75),
            cars["Km/Ltr"].quantile(1)]

five_num

[6.0, 8.5, 10.0, 12.0, 13.0]

Since these values are so commonly used to describe data, they are known as the "five number summary". They are the same percentile values returned by df.describe():

In [28]:
cars["Km/Ltr"].describe()

count    23.000000
mean     10.000000
std       1.930615
min       6.000000
25%       8.500000
50%      10.000000
75%      12.000000
max      13.000000
Name: Km/Ltr, dtype: float64

Interquartile (IQR) range is another common measure of spread. IQR is the distance between the 3rd quartile and the 1st quartile:

In [29]:
cars["Km/Ltr"].quantile(0.75) - cars["Km/Ltr"].quantile(0.25)

3.5

**Variance** and **standard deviation** are two other common measures of spread. The variance of a distribution is the average of the squared deviations (differences) from the mean. Use df.var() to check variance:

In [30]:
cars["Km/Ltr"].var()

3.727272727272727

The **standard deviation** is the square root of the variance. Standard deviation can be more interpretable than variance, since the standard deviation is expressed in terms of the same units as the variable in question while variance is expressed in terms of units squared. Use df.std() to check the standard deviation:

In [31]:
cars["Km/Ltr"].std()

1.9306145983268455